In [ ]:
#Adding Panda import
import pandas as pd
import os

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
#student_data_df.head(10)

In [ ]:
#files to import
school_data_to_load = os.path.join("Resources/schools_complete.csv")
student_data_to_load = os.path.join("Resources/students_complete.csv")

In [ ]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

In [ ]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
#student_data_df.head()

In [ ]:
# Determine if there are any missing values in the school data.
school_data_df

In [ ]:
# Determine if there are any missing values in the student data.
#student_data_df.count()

In [ ]:
# Determine if there are any missing values in the school data.
#school_data_df.isnull()

In [ ]:
# Determine if there are any missing values in the student data.
#student_data_df.isnull()

In [ ]:
# Determine if there are any missing values in the student data.
#student_data_df.isnull().sum()

In [ ]:
# Determine if there are not any missing values in the school data.
#school_data_df.notnull()

In [ ]:
# Determine if there are not any missing values in the student data.
#student_data_df.notnull().sum()

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
    
#student_data_df.head(10)

In [ ]:
#school_data_complete_df

In [ ]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df

In [ ]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df.count()
#student_count

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
#student_count

In [ ]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
#school_count_2

In [ ]:
#len(school_data_complete_df["school_name"].unique())

In [ ]:
# Calculate the total budget. Verify against the sum in the csv file
total_budget = school_data_df["budget"].sum()
#total_budget

In [ ]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
#average_reading_score

In [ ]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
#average_math_score

In [ ]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [ ]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head(5)

In [ ]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

In [ ]:
len(passing_math)

In [ ]:
passing_math["student_name"].count()

In [ ]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
#print(passing_math_count)
#print(passing_reading_count)

In [ ]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [ ]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

#passing_math_reading.head()

In [ ]:
#passing_math_reading.student_name.count()
school_data_complete_df

In [ ]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
#overall_passing_math_reading_count

In [ ]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
#overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

#district_summary_df["Total Students"]

In [ ]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

#district_summary_df["Total Budget"]

In [ ]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
#district_summary_df

In [ ]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
#per_school_types

In [ ]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
#df

In [ ]:
# Calculate the total student count.
per_school_counts = school_data_df["size"]
#per_school_counts

In [ ]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
#per_school_counts

In [ ]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
#per_school_counts

In [ ]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
#per_school_budget

In [ ]:
budget_per_student = per_school_budget / per_school_counts
#budget_per_student

In [ ]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
#student_school_math

In [ ]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
#per_school_averages

In [ ]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
#print(per_school_math)
#print(per_school_reading)

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
#per_school_passing_math

In [ ]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
#per_school_passing_math

In [ ]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
#per_passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
#per_school_capita

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df

In [ ]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
# Display the data frame
#per_school_summary_df.head()

In [ ]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
per_school_summary_df = per_school_summary_df[new_column_order]

#per_school_summary_df.head()

In [ ]:
# Establish the bins.
size_bins = [0, 999, 1999, 5000]
group_names = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
thomas_high_df = student_data_df.loc[student_data_df["school_name"] == "Thomas High School", ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]

thomas_high_df.head(20)

In [ ]:
#Step 2
thomas_high_df.loc[thomas_high_df.grade == "9th", 'reading_score']='NaN'
thomas_high_df

In [ ]:
#STEP 3 In Step 3, refactor the code from Step 2 to replace the math scores with NaNs.
thomas_high_df.loc[thomas_high_df.grade == "9th", 'math_score']='NaN'
thomas_high_df

In [ ]:
## In Step 4, check the student data to make sure the grades were replaced with NaNs.
thomas_high_df = thomas_high_df.loc[thomas_high_df["grade"] == "9th", ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]
thomas_high_df.head(20)

In [ ]:
# Deliverable 2, step 1
new_student_df = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] == "9th"), ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]

#Student Count for Thomas High School 9th Graders
print(len(new_student_df))
new_student_df

In [ ]:
#Total Student Count in Thomas HS
print(len(school_data_complete_df))

#Student Count of all 9th Graders in THomas HS
print(len(new_student_df))

In [ ]:
##subtract the number of students retrieved from Step 1 from the total student count to get the new total student count.
new_total_student_count = (len(school_data_complete_df)) - (len(new_student_df))
#print(new_total_student_count)

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
new_total_student_count_df= pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
new_total_student_count_df

In [ ]:
##Formatting the columns
new_total_student_count_df["Total Students"] = new_total_student_count_df["Total Students"].map("{:,}".format)
new_total_student_count_df["Total Budget"] = new_total_student_count_df["Total Budget"].map("${:,.2f}".format)
new_total_student_count_df["Average Math Score"] = new_total_student_count_df["Average Math Score"].map("{:.1f}".format)
new_total_student_count_df["Average Reading Score"] = new_total_student_count_df["Average Reading Score"].map("{:.1f}".format)
new_total_student_count_df["% Passing Math"] = new_total_student_count_df["% Passing Math"].map("{:.1f}".format)
new_total_student_count_df["% Passing Reading"] = new_total_student_count_df["% Passing Reading"].map("{:.1f}".format)
new_total_student_count_df["% Overall Passing"] = new_total_student_count_df["% Overall Passing"].map("{:.1f}".format)

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df

In [ ]:
# Create the DataFrame
new_student_total_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

#new_student_total_df

In [ ]:
#STEP 6 Students passing math from Thomas HS

students_passing_math_df = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["math_score"] >= 70),
                        ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]
len(students_passing_math_df)

In [ ]:
#STEP 7 Students passing READING from Thomas HS

students_passing_reading_df = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["reading_score"] >= 70),
                        ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]
students_passing_reading_df

In [ ]:
## Step 8, use the loc method to create a new DataFrame that has all the students passing math and reading from Thomas HS

students_passing_both_df = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & 
                            (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70),
                        ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]
students_passing_both_df

In [ ]:
print(len(students_passing_math_df))
print(len(students_passing_reading_df))
print(len(students_passing_both_df))

In [ ]:
upperclass_passing_math = students_passing_math_df.loc[(students_passing_math_df["grade"] != "9th"), ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]
#upperclass_passing_math

In [ ]:
upperclass_passing_math = students_passing_math_df[(students_passing_math_df["grade"] != "9th")]
#upperclass_passing_math

In [ ]:
print(len(upperclass_passing_math))

In [ ]:
#Calculate the toal amount of 10th - 12th grader
total_upperclassman  = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] != "9th"),
                        ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]

#total_upperclassman

In [ ]:
#Calculate the total amount of 10th - 12th grader
total_upperclassman  = school_data_complete_df[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] != "9th")]

len(total_upperclassman)

In [ ]:
## Step 9, calculate the percentage of 10th-12th grade students passing math from Thomas High School.

# Calculate the overall passing percentage.
upperclassman_passing_math_percentage = len(upperclass_passing_math) / len(total_upperclassman) * 100
upperclassman_passing_math_percentage

In [ ]:
upperclass_passing_reading = students_passing_reading_df[(students_passing_reading_df["grade"] != "9th")]
len(upperclass_passing_reading)

In [ ]:
 ## Step 10, calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
# Calculate the overall passing percentage.
upperclassman_passing_reading_percentage = len(upperclass_passing_reading) / len(total_upperclassman) * 100
upperclassman_passing_reading_percentage

In [ ]:
#Step 11, calculate the overall passing percentage of 10th-12th grade students from Thomas High School.
upperclassman_passing_both = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] != "9th") &
                            (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70),
                        ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]
upperclassman_passing_both

In [ ]:
#STEP 11
upperclassman_passing_both_percentage = len(upperclassman_passing_both) / len(total_upperclassman) * 100
upperclassman_passing_both_percentage

In [ ]:
# ALL Students passing Math at Thomas HS
len(students_passing_math_df)

In [ ]:
## Step 12, use the loc method to replace the % Passing Math score for Thomas High School with the new math passing percentage you calculated in Step 9.

students_passing_math_df = upperclass_passing_math.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] != "9th") & (school_data_complete_df["math_score"] >= 70), 
["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]

students_passing_math_df

In [ ]:
## In Step 13, use the loc method to replace the % Passing Reading score for Thomas High School with the new reading passing percentage you calculated in Step 10.
students_passing_reading_df = upperclass_passing_reading.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] != "9th") & (school_data_complete_df["reading_score"] >= 70), 
["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]

students_passing_reading_df

In [ ]:
## In Step 14, use the loc method to replace the % Overall Passing score for Thomas High School with the new overall passing percentage you calculated in Step 11.
students_passing_both_df = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] != "9th") &
                            (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70),
                        ["Student ID","student_name","grade","school_name","gender","math_score","reading_score"]]
students_passing_both_df

In [ ]:
# Calculate the average math score.
average_math_score = total_upperclassman["math_score"].mean()
#average_math_score

In [ ]:
# Calculate the average reading score.
average_reading_score = total_upperclassman["reading_score"].mean()
#average_reading_score

In [ ]:
##Formatting the columns
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
#per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)
#per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)
#per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.1f}".format)
#per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.1f}".format)
#per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.1f}".format)

In [ ]:
per_school_summary_df.at["Thomas High School",'% Overall Passing'] = upperclassman_passing_both_percentage
per_school_summary_df.at["Thomas High School", '% Passing Math'] = upperclassman_passing_math_percentage 
per_school_summary_df.at["Thomas High School", '% Passing Reading'] = upperclassman_passing_reading_percentage 
per_school_summary_df.at["Thomas High School", 'Average Math Score']=average_math_score
per_school_summary_df.at["Thomas High School", 'Average Reading Score'] =average_reading_score

In [ ]:
per_school_summary_df

In [ ]:
# # Calculate the average math score.
# #average_math_score = school_data_complete_df["math_score"].mean()
# average_math_score = total_upperclassman["math_score"].mean()
# average_math_score

In [ ]:
# Sort and show bottom five schools based on performance
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

In [ ]:
# Sort and show top five schools based on performance
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

In [ ]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [ ]:
# Group each grade level DataFrame by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [ ]:
ninth_grade_math_scores

In [ ]:
tenth_grade_math_scores

In [ ]:
eleventh_grade_math_scores

In [ ]:
twelfth_grade_math_scores

In [ ]:
# Calculate the total student count.
per_school_counts = school_data_complete_df.groupby(["school_name"])["size"]
#per_school_counts.head()

In [ ]:
#school_data_complete_df

In [ ]:
# Sort and show top schools by spending per student
top_schools_by_spending = per_school_summary_df.sort_values(["Per Student Budget"])
top_schools_by_spending

In [ ]:
# Sort and show top schools by size: Total Students
top_schools_by_size = top_schools_by_spending.sort_values(["Total Students"])
top_schools_by_size

In [ ]:
# Sort schools by School Type
top_schools_by_type = top_schools_by_size.sort_values(["School Type"], ascending=False)

top_schools_by_type